/* ----------------------------
---  GLOBAL STYLING BEGINS  ---
---------------------------- */
/*  color variables saved*/
:root {
  --primary: #89b0ae;
  --secondary: #ffd6ba;
  --tertiary: #bee3db;
  --light: #faf9f9;
  --dark: #555b6e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
}

/* global styling from padding to colors and font size, weight and family */
body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  background: var(--light);
  font-family: "Poiret One", cursive; /*replace with new custom*/
}

/* main parent element (container) styling */
.container-style {
  margin: 20px 30px;
}

/* page title*/
.page-title {
  color: var(--dark);
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: bold;
}
/* -------------------------------
------  GLOBAL STYLING END -------
------------------------------- */

/* -------------------------------
-----  HEADER STYLING BEGINS -----
------------------------------- */
header {
  background: var(--dark);
  height: 100px;
}

header h1 {
  margin: auto auto auto 30px;
  color: var(--primary);
}

.nav-cont {
  margin: auto;
}
.nav-ul {
  margin-top: 15px;
  margin-left: 20px;
  list-style: none;
}

nav a {
  color: var(--secondary);
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: var(--tertiary);
}

/* -------------------------------
------  HEADER STYLING ENDS ------
------------------------------- */

/* -------------------------------
----  ABOUT ME STYLING BEGINS ----
------------------------------ */

/* paragraph styling */
.para-style {
  margin-left: 30px;
  color: var(--dark);
}
/* -------------------------------
-----  ABOUT ME STYLING ENDS -----
------------------------------- */

/* -------------------------------
-----  CONTACT STYLING BEGINS ----
------------------------------- */

input {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  width: 600px;
  font-size: 18px;
  color: var(--dark);
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
textarea {
  margin-bottom: 20px;
  padding: 5px;
  outline: none;
  border: 1px solid var(--dark);
  width: 600px;
  height: 120px;
  font-size: 18px;
  color: var(--dark);
}

textarea:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

label {
  margin-bottom: 5px;
  color: var(--dark);
}

.error-text {
  color: var(--dark);
}

button {
  width: 90px;
  border-radius: 8px;
  background-color: var(--dark);
  color: var(--secondary);
}

button:hover {
  background-color: var(--primary);
}
button:focus {
  color: var(--primary);
}

/* -------------------------------
-----  CONTACT STYLING ENDS  -----
------------------------------- */

/* -------------------------------
----- RESUME STYLING BEGINS  -----
------------------------------- */
.body-container {
  margin-top: 35px;
  margin-bottom: 35px;
}

.section-title {
  color: var(--dark);
  font-weight: bold;
  font-size: 27px;
}

.resume-link {
  color: var(--primary);
  text-decoration: none;
}

.resume-link:hover {
  color: var(--tertiary);
}

.resume-link:focus {
  color: rgb(117, 8, 8);
}

.list-style {
  margin-top: 15px;
  margin-left: 10px;
  list-style: circle;
  color: var(--dark);
}

.list-item-style {
  margin-bottom: 5px;
}
/* -------------------------------
----- RESUME STYLING ENDS  -------
------------------------------- */

/* -------------------------------
-----  FOOTER STYLING BEGINS -----
------------------------------- */

footer {
  position: absolute;
  bottom: 0;
}

.icon-cont {
  list-style: none;
}

.icon-style {
  color: var(--dark);
  margin: auto 20px;
}

.icon-style:hover {
  color: var(--primary);
  margin: auto 20px;
}

/* -------------------------------
------  FOOTER STYLING ENDS ------
------------------------------- */
